.mobileLogo {
  width: 6rem;
  margin-bottom: .5em;
  display: none;
}

#nav li:first-of-type {
  margin: 0 1em 0 0;
  position: relative;
}
section.special.box.call {
  text-align: left;
}
#header h1 a {
  position: relative;
  bottom: -.5rem;
}

#header h1 img {
  width: 10rem;
}
#footer {
  padding: 2em 0em 4em 0em;
}
#cta > div, .contactUs > div {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
}

#cta span, .contactUs span {
  flex-grow: 1;
  font-size: 1.5em;
  margin-top: .5rem;
}


.hero p {
  padding: 0rem 15vw;
}
.icon.major {
  line-height: 6em;
}
.icon.major svg {
  font-size: 1.5em;
}


.row.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 4rem;
}
.row.sub h3 {
  padding: 0;
  margin: 0;
}
.row.sub div {
  padding: 0;
  margin: 0;
}
.row.sub span {
  padding: 0rem 1rem;
}

.abtImages {
  margin-top: 1.5em;
}
.abtImages img {
  width: 100%;
}
.abtFoot {
  margin-top: 2em;
  text-align: center;
}

.contactUs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem;
  align-items: center;
  text-align: center;
}
.contactUs > div {
  margin-top: 2.5rem;
}
.contactUs a {
  background-color: #A3E749;
  letter-spacing: .25px;
  font-size: 1em;
}

@media screen and (max-width: 840px) {
  .mobileLogo {
    display: inline;
  }
}

@media screen and (max-width: 736px) {
  #banner h2 {
    font-size: 2.5em;
  }
  #banner p {
    font-size: 1em;
  }
}