#header h1 a {
  position: relative;
  bottom: -.5rem;
}

#header h1 img {
  width: 10rem;
}


.hero p {
  padding: 0rem 15vw;
}
.icon.major {
  line-height: 6em;
}
.icon.major svg {
  font-size: 1.5em;
}